@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>If you choose to login we will use your email address to record your in skill preferences, we will not use your data for any other purpose.</p>
